<h1>Add a new package</h1>
<form action="/package_added" method="post">

  <label for="new-Weight">Add the package weight</label>
  <input id="new-Weight" name="new-Weight" type="text">

  <label for="new-Height">What's the height of your package?</label>
  <input id="new-Height" name="new-Height" type="text">

  <label for="new-Length">What's the length of your package?</label>
  <input id="new-Length" name="new-Length" type="text">

  <label for="new-Width">What's the width of your package?</label>
  <input id="new-Width" name="new-Width" type="text">
  <button type="submit">Submit</button>

</form>
