<h2>You've added a new package.</h2>
<p>Weight: @Model.GetWeight()</p>
<p>Height: @Model.GetHeight()</p>
<p>Length: @Model.GetWeight()</p>
<p>Width: @Model.GetWidth()</p>
<br>
<p><a href="/">Add another package</a></p>
<p><a href="/view_all_packages">View current packages</a></p>
